.sect1
    // background-image: url(./public/img/slider-1.jpg)
    margin-left: 2%
    margin-right: 2% 
    display: flex
    background-color: #f3f3f3
    justify-content: space-evenly
    align-items: center
    div:first-of-type
        // display: flex
        // flex-direction: column
        // justify-content: space-around
        width: 40%
        height: 100%
        h3
            font-size: 60px
            margin-bottom: 30px
        img
            width: 500px
            height: 100px
            margin-bottom: 30px

        p
            color: #777c8a
            margin-bottom: 30px

        button
            border: none
            padding: 15px
            padding-left: 45px
            padding-right: 45px
            background-color: #c23030
            color: #cfd1d8
            border-radius: 45px
    div:last-of-type
        img
            width: 450px
            height: 550px

